<!-- Navbar -->
<nav class="bg-purple-800 backdrop-blur-md w-full z-20 sticky top-0 start-0 dark:bg-purple-800">
  <div class="max-w-screen-xl mx-auto flex items-center justify-center p-4 text-gray-300 flex-wrap">
    
    <!-- Home -->
    <a href="/" class="font-semibold text-gray-300 hover:text-purple-500 mx-4 relative group">
      <span class="relative z-10">Hogar</span>
      <span class="absolute bottom-0 left-0 w-full h-0.5 bg-gradient-to-r from-purple-900 to-purple-500 transform scale-x-0 transition-transform duration-300 origin-left group-hover:scale-x-100"></span>
    </a>

   
    <!-- Toggle -->
    <div class="ml-3 flex flex-col justify-center">
      <input type="checkbox" id="light-switch" class="light-switch sr-only" />
      <label class="tada relative cursor-pointer p-2" for="light-switch">
        <!-- Sun/Moon SVGs (sin cambios) -->
        <!-- ... -->
      </label>
    </div>

    <!-- Posts -->
    <a href="/posts" class="font-semibold text-gray-300 hover:text-purple-500 mx-4 relative group">
      <span class="relative z-10">planes(mantenimiento)</span>
      <span class="absolute bottom-0 left-0 w-full h-0.5 bg-gradient-to-r from-purple-900 to-purple-500 transform scale-x-0 transition-transform duration-300 origin-left group-hover:scale-x-100"></span>
    </a>
  </div>
</nav>

<!-- toggle darkmode -->
<script>
  const lightSwitches = document.querySelectorAll(".light-switch");
  if (lightSwitches.length > 0) {
    lightSwitches.forEach((lightSwitch: any, i) => {
      if (localStorage.getItem("dark-mode") === "true") {
        lightSwitch.checked = true;
      }
      lightSwitch.addEventListener("click", () => {
        const { checked } = lightSwitch;
        lightSwitches.forEach((el: any, n) => {
          if (n !== i) {
            el.checked = checked;
          }
        });
        if (lightSwitch.checked) {
          document.documentElement.classList.add("dark");
          localStorage.setItem("dark-mode", "true");
        } else {
          document.documentElement.classList.remove("dark");
          localStorage.setItem("dark-mode", "false");
        }
      });
    });
  }
</script>
